.next/
build/
dist/
node_modules/
target/
coverage/
snapshot/
generated/
pnpm-lock.yaml

__generated__/
/packages/turbo-codemod/templates/

/dist/*
.local
/node_modules/**

**/*.svg
**/*.sh

/public/*
stats.html


/dist/*
.local
/node_modules/**

**/*.svg
**/*.sh

/public/*
stats.html
